extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/add-product.css")

block content 
    form.product-form(action="add-product", method='POST') 
        .form-control 
            label(for="title") Title 
            input(type="text", name='title', id='title')
        .form-control 
            label(for="imageUrl") Image Url
            input(type="text", name='imageUrl', id='imageUrl')
        .form-control 
            label(for="price") Price
            input(type="number", name='price', id='price' step=0.10)
        .form-control 
            label(for="description") Description 
            textarea(name='description', id='description', rows=5)
        button(type='submit') Add Product

