.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
    width: 100%;
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;
}
.form-control input {
    outline: none;
    height: 2rem;
    margin-top: .5rem;
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
    text-indent: 1rem;
}

.form-control textarea {
    outline: none;
    width: 100%;
    border: 1px solid #dbc441;
    border-radius: 3px;
    font: inherit;
    padding: .5rem 1rem;
    margin-top: .5rem;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    border: 2px solid #d8b90d;
}

button {
    font: inherit;
    border: 1px solid #dbc441;
    color: #3e00a1;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    padding: .5rem 1rem;
}
button:hover,
button:active {
    background-color: #3e00a1;
    color: white;
}

